<footer class="footer bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <ul class="">
                    <li><a class="nav-link" href="{{ path_for('home') }}">Home</a></li>
                </ul>
            </div>
            <div class="col-4">
                <ul>
                    <li><a class="nav-link" href="{{ path_for('home.mentions') }}">Mentions légales</a></li>
                </ul>
            </div>
            <div class="col-4">
                <ul>
                    <li><a class="nav-link" href="{{ path_for('home.technos') }}">Technologies utilisées</a></li>
                </ul>
            </div>

        </div>

        <div class="row">
            <p class="col-12">Réalisé par Adrien, Louis, Marc, Yvann</p>
            <p class="col-12">Licence Professionnelle CIASIE, Université Nancy-Charlemagnes, 2018-2019 </p>
        </div>
    </div>
</footer>